{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Skymesh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!--Simple javascript to make easy to make POST with AJAX using Django. Based on django documentation-->
    <script src="{% static 'bootstrap/js/csrf-solution.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
      <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="coohqjii958p7p4"></script>


      <script type="text/javascript">


      // The API developer key obtained from the Google Cloud Console.
      var developerKey = 'AIzaSyCl62qhKjnhpf2tEFEr94S8-ackQsMxiq0';

      // The Client ID obtained from the Google Cloud Console.
      var clientId = '263593193734-9vp3qpd2o3ne178r7hv6g5lmfqnmred4.apps.googleusercontent.com';

      // Scope to use to access user's photos.
      var scope = ['https://www.googleapis.com/auth/drive.readonly'];

      var pickerApiLoaded;
      var pickerCreated = false;
      var authorized = false;
      var picker;
      var oauthToken;

      // Use the API Loader script to load google.picker and gapi.auth.
      function onApiLoad() {
          pickerApiLoaded = false;
        gapi.load('auth', {'callback': onAuthApiLoad});
        gapi.load('picker', {'callback': onPickerApiLoad});
      }

      function onAuthApiLoad() {
          if (!authorized)
                window.gapi.auth.authorize(
                    {
                      'client_id': clientId,
                      'scope': scope,
                      'immediate': false
                    },
                    handleAuthResult);
      }

      function onPickerApiLoad() {
        pickerApiLoaded = true;
          if (!pickerCreated)
            createPicker();
          else
            picker.setVisible(true);
      }

      function handleAuthResult(authResult) {
        if (authResult && !authResult.error) {
          oauthToken = authResult.access_token;
          authorized = true;
          if (!pickerCreated)
            createPicker();
          else
            picker.setVisible(true);
        }
      }

      // Create and render a Picker object
      function createPicker() {
        if (pickerApiLoaded && oauthToken) {
              picker = new google.picker.PickerBuilder().
              addView(google.picker.ViewId.DOCS).
              enableFeature(google.picker.Feature.MULTISELECT_ENABLED).
              setOAuthToken(oauthToken).
              setDeveloperKey(developerKey).
              setCallback(pickerCallback).
              build();
          pickerCreated = true;
          picker.setVisible(true);
        }
      }


      function pickerCallback(data) {
        if (data[google.picker.Response.ACTION] == google.picker.Action.PICKED) {
            var jsonString = JSON.stringify(data[google.picker.Response.DOCUMENTS]);
          $.ajax({
            url: "googleDrive/save",
            data: {'source':'googleDrive', 'files':jsonString},
            type: "POST"

        }).done(function(){
            location.reload();
        });

        }

      }
    </script>
    <!-- The Google API Loader script. -->
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
    </head>
  <body>
  <!--
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Skymesh</a>
          <a class="navbar-brand" href="#">Hi, User Name!</a>
		  <button type="submit" class="btn btn-success">Add A Cloud</button>

        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <button type="submit" class="btn btn-success">Logout</button>
          </form>
        </div>
      </div>
    </div>
    -->
    <div id="container" style="margin-top: 150px; margin-left: 30px">
        <button id="GooglePicker" onclick="onApiLoad()">Choose from GoogleDrive</button>
        <!--form action="/selector/google/">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Google</button>
        </form>
        <form action="/selector/dropbox/">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Dropbox</button>
        </form-->
    </div>

    <table id="showlist" style="margin-left: 30px">
        <tr>
            <td>From</td>
            <td>Type</td>
            <td>Name</td>
            <td>Size</td>
            <td>Last Modified Time</td>
        </tr>
    </table>

  </body>
</html>

<script type="text/javascript">
    $(function(){
            var options = {

    // Required. Called when a user selects an item in the Chooser.
    success: function(files) {

        var jsonString = JSON.stringify(files);
        $.ajax({
            url: "dropbox/save",
            data: {'source':'dropbox', 'files':jsonString},
            type: "POST"

        }).done(function(){
            location.reload();
        });
    },

    // Optional. Called when the user closes the dialog without selecting a file
    // and does not include any parameters.
    cancel: function() {

    },

    // Optional. "preview" (default) is a preview link to the document for sharing,
    // "direct" is an expiring link to download the contents of the file. For more
    // information about link types, see Link types below.
    linkType: "preview", // or "direct"

    // Optional. A value of false (default) limits selection to a single file, while
    // true enables multiple file selection.
    multiselect: true, // or true

    // Optional. This is a list of file extensions. If specified, the user will
    // only be able to select files with these extensions. You may also specify
    // file types, such as "video" or "images" in the list. For more information,
    // see File types below. By default, all extensions are allowed.
    extensions: ['.pdf', '.doc', '.docx', '.txt']
};
            var button = Dropbox.createChooseButton(options);
            document.getElementById("container").appendChild(button);
        $.ajax("showlist").done(function(data){

            //var f = JSON.parse(data);
            var files = data["files"];

            var table = document.getElementById("showlist");
        for(var i=0; i<files.length; i++){
            var row = table.insertRow(1);
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            var cell4 = row.insertCell(4);
           // var img = document.createElement('img');
            cell0.innerHTML=files[i].fields.source;
            cell1.innerHTML="<img src="+ files[i].fields.icon+" height='16' width='16'>";
            cell2.innerHTML="<a href="+files[i].fields.link+" target='_blank'>"+files[i].fields.name+"</a>";
            cell3.innerHTML=files[i].fields.size;
            cell4.innerHTML=files[i].fields.lastEditTime;
        }
        });
        });
        </script>