<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap-responsive.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}">
<title>CS6523 FINAL PROJECT</title>
<script type="text/javascript">
    window.onload = function()
    {
        if(!window.jQuery)
        {
            alert('jQuery not loaded');
        }
        else
        {
            $(document).ready(function(){
				$('.btn').tooltip({'placement':'top', 'trigger' : 'hover'});
				$('.btn-link').tooltip({'placement':'top', 'trigger' : 'hover'});
				<!-- $('.text-info').popover({'placement':'right', 'trigger' : 'hover', 'html' : 'true'}); -->
				$('.action').tooltip({'placement':'bottom', 'trigger' : 'hover'});
				$('.info').popover({'placement':'right', 'trigger' : 'hover', 'html' : 'true'});
        $('#segHelp').tooltip({'placement':'right', 'trigger' : 'hover'});

            });
            $("#uploadBtn").click(function(){
              $(this).button('loading');
             <!-- $(this).button('complete'); -->
            });
            $('#select-all').click(function(event) {   
			    if(this.checked) {
			        // Iterate each checkbox
			        $(':checkbox').each(function() {
			            this.checked = true;                        
			        });
			    }
			    else{ 
			    	// Iterate each checkbox 
			    	$(":checkbox").each(function() { this.checked = false; }); 
			    } 
			});
        }
    }
</script>
</head>

<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">SWIFTBOX</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav pull-right">
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      {{username}}
		      <b class="caret"></b>
		    </a>
		    <ul class="dropdown-menu">
		      <li><a href="#"><i class="icon-edit"></i> Settings </a></li>
			    <li><a href="#"><i class="icon-retweet"></i> Reset Password </a></li>
			    <li><a href="#"><i class=" icon-question-sign"></i> Help </a></li>
			    <li class="divider"></li>
			    <li><a href="/logout">Sign out</a></li>
		    </ul>
		  </li>
		</ul>
      </div>
 
    </div>
  </div>
</div>

{% block body %}
{% endblock %} 
<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
